/* Title styling */
.title-text{
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 55px;
  left: 0;
  text-align: center;
  line-height: 1;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
/* Font Sizes */
.hdrText{
font-size: 80px !important;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-style: italic;
}
.subText{
font-size: 50px !important;
font-weight: bold;
}
.contentText{
font-size: 30px !important;
color:black;
}
.textContainer{
padding:45px;
text-align: left;
line-height: 1.6;
}
.contentImg{
display: block;
margin: auto auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentCol, .contentRow{
margin: auto auto;
padding: 0 !important;
}
.container-fluid{
padding: 0 !important;
}