/* Title styling */
.title{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.title-text{
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 55px;
    left: 0;
    text-align: center;
    line-height: 1;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

/* styling for home page header */
.header{
    position: relative;
    display: block;
  }
  .header-wrap{
    position: relative;
  }
  .title-wrap{
    display: block;
    height: 622px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
/* Font Sizes */
.hdrText{
  font-size: 80px !important;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}
.subText{
  font-size: 40px !important;
}
.contentText{
  font-size: 30px !important;
  color:#5b5546;
  
}
.textContainer{
  padding:45px;
  text-align: center;
}
.contentImg{
  display: block;
  margin: auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.timeLine.contentRow{
  background-image: linear-gradient(30deg,rgba(193,158,103,1),#fff 60%);
}
.contentCol, .contentRow{
  margin: auto auto;
  padding: 0 !important;
}
.container-fluid{
  padding: 0 !important;
}