nav.navbar{
    /* position: absolute; */
    top: 5%;
    right: 0;
    bottom: 15px;
    left: 0;
    height: 100px;
    padding: 30px;
    z-index: 2;
    background: transparent !important;
} 
a.nav-link, .navbtn{
    font-size: 25px;
    color: white !important;
    text-shadow: 2px 2px 4px #000000;

}
.navbtn{
    background: transparent;
    border: none;
}
.navContainer{
    width: 75%;
    margin: auto;
    border-bottom: 2px solid rgba(255,255,255,.2);
}
/* compass css */
svg {
    overflow: visible;
}
.icon-compass .needle {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: center;
    transform: rotate(0);
}
.icon-compass:hover .needle {
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotate(360deg);
}
.icon-compass:hover .circle-1 {
    transform: scale(1.2);
    stroke-width: 50%;
    stroke-opacity: 0;
}